/* module-key = 'com.atlassian.auiplugin:aui-experimental-iconfont', location = '/less/adg-iconfont.less' */
@font-face{font-family:"Atlassian Icons";src:url(/jira/s/en_US9zu68z/6340/156/5.6.7-jira-1/_/download/resources/com.atlassian.auiplugin:aui-experimental-iconfont/atlassian-icons.eot);src:url(/jira/s/en_US9zu68z/6340/156/5.6.7-jira-1/_/download/resources/com.atlassian.auiplugin:aui-experimental-iconfont/atlassian-icons.eot?#iefix) format("embedded-opentype"),url(/jira/s/en_US9zu68z/6340/156/5.6.7-jira-1/_/download/resources/com.atlassian.auiplugin:aui-experimental-iconfont/atlassian-icons.woff) format("woff"),url(/jira/s/en_US9zu68z/6340/156/5.6.7-jira-1/_/download/resources/com.atlassian.auiplugin:aui-experimental-iconfont/atlassian-icons.ttf) format("truetype"),url(/jira/s/en_US9zu68z/6340/156/5.6.7-jira-1/_/download/resources/com.atlassian.auiplugin:aui-experimental-iconfont/atlassian-icons.svg#atlassian-icons) format("svg");font-weight:normal;font-style:normal;}.aui-icon-small,.aui-icon-large{line-height:0;position:relative;vertical-align:text-top;}
.aui-icon-small{height:16px;width:16px;}
.aui-icon-large{height:32px;width:32px;}
.aui-icon-small:before,.aui-icon-large:before{color:inherit;font-family:"Atlassian Icons";font-weight:normal;-webkit-font-smoothing:antialiased;font-style:normal;left:0;line-height:1;position:absolute;text-indent:0;speak:none;top:50%;}
.aui-icon-small:before{font-size:16px;margin-top:-8px;}
.aui-icon-large:before{font-size:32px;margin-top:-16px;}
.aui-iconfont-add:before{content:"\f1ce";}
.aui-iconfont-add-comment:before{content:"\f1cf";}
.aui-iconfont-add-small:before{content:"\f1d0";}
.aui-iconfont-approve:before{content:"\f1d1";}
.aui-iconfont-appswitcher:before{content:"\f1d2";}
.aui-iconfont-arrows-down:before{content:"\f1d3";}
.aui-iconfont-arrows-left:before{content:"\f1d4";}
.aui-iconfont-arrows-right:before{content:"\f1d5";}
.aui-iconfont-arrows-up:before{content:"\f1d6";}
.aui-iconfont-attachment:before{content:"\f1d8";}
.aui-iconfont-attachment-small:before{content:"\f1d9";}
.aui-iconfont-autocomplete-date:before{content:"\f1da";}
.aui-iconfont-back-page:before{content:"\f1db";}
.aui-iconfont-blogroll:before{content:"\f1dc";}
.aui-iconfont-bp-decisions:before{content:"\f1dd";}
.aui-iconfont-bp-default:before{content:"\f1de";}
.aui-iconfont-bp-files:before{content:"\f1e0";}
.aui-iconfont-bp-howto:before{content:"\f1e1";}
.aui-iconfont-bp-jira:before{content:"\f1e2";}
.aui-iconfont-bp-meeting:before{content:"\f1e3";}
.aui-iconfont-bp-retrospective:before{content:"\f1e4";}
.aui-iconfont-bp-sharedlinks:before{content:"\f1e5";}
.aui-iconfont-bp-troubleshooting:before{content:"\f1e6";}
.aui-iconfont-build:before{content:"\f1e7";}
.aui-iconfont-calendar:before{content:"\f1e8";}
.aui-iconfont-close-dialog:before{content:"\f1e9";}
.aui-iconfont-collapsed:before{content:"\f1ea";}
.aui-iconfont-comment:before{content:"\f1eb";}
.aui-iconfont-configure:before{content:"\f1ec";}
.aui-iconfont-confluence:before{content:"\f1ed";}
.aui-iconfont-copy-clipboard:before{content:"\f1ee";}
.aui-iconfont-custom-bullet:before{content:"\f1ef";}
.aui-iconfont-delete:before{content:"\f1f0";}
.aui-iconfont-deploy:before{content:"\f1f1";}
.aui-iconfont-details:before{content:"\f1f2";}
.aui-iconfont-devtools-arrow-left:before{content:"\f1f3";}
.aui-iconfont-devtools-arrow-right:before{content:"\f1f4";}
.aui-iconfont-devtools-branch:before{content:"\f1f5";}
.aui-iconfont-devtools-branch-small:before{content:"\f1f6";}
.aui-iconfont-devtools-browse-up:before{content:"\f1f7";}
.aui-iconfont-devtools-checkout:before{content:"\f1f8";}
.aui-iconfont-devtools-clone:before{content:"\f1f9";}
.aui-iconfont-devtools-commit:before{content:"\f1fa";}
.aui-iconfont-devtools-compare:before{content:"\f1fb";}
.aui-iconfont-devtools-file:before{content:"\f1fc";}
.aui-iconfont-devtools-file-binary:before{content:"\f1fd";}
.aui-iconfont-devtools-file-commented:before{content:"\f1fe";}
.aui-iconfont-devtools-folder-closed:before{content:"\f1ff";}
.aui-iconfont-devtools-folder-open:before{content:"\f200";}
.aui-iconfont-devtools-fork:before{content:"\f201";}
.aui-iconfont-devtools-pull-request:before{content:"\f202";}
.aui-iconfont-devtools-repository:before{content:"\f203";}
.aui-iconfont-devtools-repository-forked:before{content:"\f204";}
.aui-iconfont-devtools-repository-locked:before{content:"\f205";}
.aui-iconfont-devtools-side-diff:before{content:"\f206";}
.aui-iconfont-devtools-submodule:before{content:"\f207";}
.aui-iconfont-devtools-tag:before{content:"\f208";}
.aui-iconfont-devtools-tag-small:before{content:"\f209";}
.aui-iconfont-devtools-task-cancelled:before{content:"\f20a";}
.aui-iconfont-devtools-task-disabled:before{content:"\f20b";}
.aui-iconfont-devtools-task-in-progress:before{content:"\f20c";}
.aui-iconfont-doc:before{content:"\f20d";}
.aui-iconfont-down:before{content:"\f20e";}
.aui-iconfont-drag-vertical:before{content:"\f20f";}
.aui-iconfont-edit:before{content:"\f210";}
.aui-iconfont-edit-small:before{content:"\f211";}
.aui-iconfont-editor-align-center:before{content:"\f212";}
.aui-iconfont-editor-align-left:before{content:"\f213";}
.aui-iconfont-editor-align-right:before{content:"\f214";}
.aui-iconfont-editor-bold:before{content:"\f215";}
.aui-iconfont-editor-color:before{content:"\f216";}
.aui-iconfont-editor-emoticon:before{content:"\f217";}
.aui-iconfont-editor-help:before{content:"\f218";}
.aui-iconfont-editor-hr:before{content:"\f219";}
.aui-iconfont-editor-indent:before{content:"\f21a";}
.aui-iconfont-editor-italic:before{content:"\f21b";}
.aui-iconfont-editor-layout:before{content:"\f21c";}
.aui-iconfont-editor-list-bullet:before{content:"\f21d";}
.aui-iconfont-editor-list-number:before{content:"\f21e";}
.aui-iconfont-editor-macro-toc:before{content:"\f21f";}
.aui-iconfont-editor-mention:before{content:"\f220";}
.aui-iconfont-editor-outdent:before{content:"\f221";}
.aui-iconfont-editor-styles:before{content:"\f222";}
.aui-iconfont-editor-symbol:before{content:"\f223";}
.aui-iconfont-editor-table:before{content:"\f224";}
.aui-iconfont-editor-task:before{content:"\f225";}
.aui-iconfont-editor-underline:before{content:"\f226";}
.aui-iconfont-email:before{content:"\f227";}
.aui-iconfont-error:before{content:"\f228";}
.aui-iconfont-expanded:before{content:"\f229";}
.aui-iconfont-file-code:before{content:"\f22a";}
.aui-iconfont-file-doc:before{content:"\f22b";}
.aui-iconfont-file-java:before{content:"\f22c";}
.aui-iconfont-file-pdf:before{content:"\f22d";}
.aui-iconfont-file-ppt:before{content:"\f22e";}
.aui-iconfont-file-txt:before{content:"\f22f";}
.aui-iconfont-file-wav:before{content:"\f230";}
.aui-iconfont-file-xls:before{content:"\f231";}
.aui-iconfont-file-zip:before{content:"\f232";}
.aui-iconfont-flag:before{content:"\f233";}
.aui-iconfont-focus:before{content:"\f234";}
.aui-iconfont-group:before{content:"\f235";}
.aui-iconfont-handle-horizontal:before{content:"\f236";}
.aui-iconfont-help:before{content:"\f237";}
.aui-iconfont-hipchat:before{content:"\f238";}
.aui-iconfont-homepage:before{content:"\f239";}
.aui-iconfont-image:before{content:"\f23a";}
.aui-iconfont-image-extrasmall:before{content:"\f23b";}
.aui-iconfont-image-small:before{content:"\f23c";}
.aui-iconfont-info:before{content:"\f23d";}
.aui-iconfont-jira:before{content:"\f23e";}
.aui-iconfont-jira-completed-task:before{content:"\f23f";}
.aui-iconfont-jira-test-session:before{content:"\f240";}
.aui-iconfont-like:before{content:"\f241";}
.aui-iconfont-like-small:before{content:"\f242";}
.aui-iconfont-link:before{content:"\f244";}
.aui-iconfont-list-add:before{content:"\f245";}
.aui-iconfont-list-remove:before{content:"\f246";}
.aui-iconfont-locked:before{content:"\f247";}
.aui-iconfont-locked-small:before{content:"\f248";}
.aui-iconfont-macro-code:before{content:"\f249";}
.aui-iconfont-macro-default:before{content:"\f24a";}
.aui-iconfont-macro-gallery:before{content:"\f24b";}
.aui-iconfont-macro-status:before{content:"\f24c";}
.aui-iconfont-more:before{content:"\f24d";}
.aui-iconfont-nav-children:before{content:"\f24e";}
.aui-iconfont-page-blank:before{content:"\f24f";}
.aui-iconfont-page-blogpost:before{content:"\f250";}
.aui-iconfont-page-default:before{content:"\f251";}
.aui-iconfont-page-template:before{content:"\f252";}
.aui-iconfont-pages:before{content:"\f253";}
.aui-iconfont-quote:before{content:"\f254";}
.aui-iconfont-redo:before{content:"\f255";}
.aui-iconfont-remove:before{content:"\f256";}
.aui-iconfont-remove-label:before{content:"\f257";}
.aui-iconfont-review:before{content:"\f258";}
.aui-iconfont-rss:before{content:"\f259";}
.aui-iconfont-search:before{content:"\f25a";}
.aui-iconfont-search-small:before{content:"\f25b";}
.aui-iconfont-share:before{content:"\f25c";}
.aui-iconfont-sidebar-link:before{content:"\f25d";}
.aui-iconfont-sourcetree:before{content:"\f25e";}
.aui-iconfont-space-default:before{content:"\f25f";}
.aui-iconfont-space-personal:before{content:"\f260";}
.aui-iconfont-star:before{content:"\f261";}
.aui-iconfont-success:before{content:"\f262";}
.aui-iconfont-table-bg:before{content:"\f263";}
.aui-iconfont-table-col-left:before{content:"\f264";}
.aui-iconfont-table-col-remove:before{content:"\f265";}
.aui-iconfont-table-col-right:before{content:"\f266";}
.aui-iconfont-table-copy-row:before{content:"\f267";}
.aui-iconfont-table-cut-row:before{content:"\f268";}
.aui-iconfont-table-header-column:before{content:"\f269";}
.aui-iconfont-table-header-row:before{content:"\f26a";}
.aui-iconfont-table-merge:before{content:"\f26b";}
.aui-iconfont-table-no-bg:before{content:"\f26c";}
.aui-iconfont-table-paste-row:before{content:"\f26d";}
.aui-iconfont-table-remove:before{content:"\f26e";}
.aui-iconfont-table-row-down:before{content:"\f26f";}
.aui-iconfont-table-row-remove:before{content:"\f270";}
.aui-iconfont-table-row-up:before{content:"\f271";}
.aui-iconfont-table-split:before{content:"\f272";}
.aui-iconfont-teamcals:before{content:"\f273";}
.aui-iconfont-time:before{content:"\f274";}
.aui-iconfont-undo:before{content:"\f275";}
.aui-iconfont-unfocus:before{content:"\f276";}
.aui-iconfont-unlocked:before{content:"\f277";}
.aui-iconfont-unstar:before{content:"\f278";}
.aui-iconfont-unwatch:before{content:"\f279";}
.aui-iconfont-up:before{content:"\f27a";}
.aui-iconfont-user:before{content:"\f27b";}
.aui-iconfont-user-status:before{content:"\f27c";}
.aui-iconfont-view:before{content:"\f27d";}
.aui-iconfont-view-card:before{content:"\f27e";}
.aui-iconfont-view-list:before{content:"\f27f";}
.aui-iconfont-view-table:before{content:"\f280";}
.aui-iconfont-warning:before{content:"\f281";}
.aui-iconfont-watch:before{content:"\f282";}
.aui-iconfont-workbox:before{content:"\f283";}
.aui-iconfont-workbox-empty:before{content:"\f284";}
.aui-iconfont-blogroll-large:before{content:"\f285";}
.aui-iconfont-email-large:before{content:"\f286";}
.aui-iconfont-layout-1col-large:before{content:"\f287";}
.aui-iconfont-layout-2col-large:before{content:"\f288";}
.aui-iconfont-layout-2col-left-large:before{content:"\f289";}
.aui-iconfont-layout-2col-right-large:before{content:"\f28a";}
.aui-iconfont-layout-3col-center-large:before{content:"\f28b";}
.aui-iconfont-layout-3col-large:before{content:"\f28c";}
.aui-iconfont-nav-children-large:before{content:"\f28d";}
.aui-iconfont-pages-large:before{content:"\f28e";}
.aui-iconfont-sidebar-link-large:before{content:"\f28f";}
.aui-iconfont-teamcals-large:before{content:"\f290";}
.aui-iconfont-user-large:before{content:"\f291";}

